*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background-color: #555;
}

@font-face{
	font-family: emulogic;
	src: url('fonts/emulogic.ttf');

}

@font-face{
	font-family: TitilliumWeb-Black;
	src: url('fonts/TitilliumWeb-Black.ttf');
}

@font-face{
	font-family: TTitilliumWeb-Light;
	src: url('fonts/TitilliumWeb-Light.ttf');
}

.hidden{
	font-family: emulogic;
	visibility: hidden;
	position: absolute;
}